.disp{
    display: none;
}

body{
    font-family: 'Red Rose';
    background: #FC466B;  /* fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B); /* Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center; 
    font-size: 22px;
}

h1{
    font-weight: bold;
    font-size: 90px;
    color: cyan;
    margin: 5px;
    text-shadow: 5px 7px 9px black;
    transition: ease-in;
}

h2{
    font-weight: bold;
    font-size: 65px;
    color: yellow;
    margin: 5px;
}

h3{
    font-weight: bold;
    font-size: 50px;
    color: orange;
    margin: 5px;
    
}

/* i{
    color: white;
}     */

#note{
    color: red;
    font-weight: 200;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
}

/* #lunchtime{
    color: red;
    font-weight: 200;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    max-width: 900px;
} */

img{
    width: 30px;
    border: none;
    color: white;
    padding: 2px;
}

table{
    margin: 0 auto;
}

#sport{
    font-size: large;
}

#badminton{
    font-size: 30px;
    border: 2px solid white;
    padding: 4px 4px;
}

#tt{
    font-size: 30px;
    border: 2px solid white;
    padding: 4px 4px;
}

.selected{
    border: 2px solid cyan;
    background-color: turquoise;
}

/* #confirm{
    width: 240px;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: purple;
    background-color: white;
    /* background-color: rgb(142, 238, 16); */
   /* border: 2px solid rgb(236, 35, 35);
} */

#confirm:active{
    background-color: cyan;
    border: 2px solid darkblue;
}

#calender td{
    background-color: yellow;
}

#calender th{
    background-color: chartreuse;
}

button{
    color: rgb(34, 20, 24);
    background-color: transparent; 
    border: 3px solid rgb(34, 20, 24); 
    border-radius: 9px; 
    text-transform: uppercase; 
    font-weight: bolder;
    font-size: 20px;
}

button:hover{
    border: 3px solid cyan; 
    border-radius: 9px;
    background-color: cyan;
}

input{
    background-color: white;
    border: 1px solid black;
    font-weight: 600;
    font-size: 18px;
    padding: 3px;
}

#resend:hover{
    color: cyan;
    transition: color 0.1s;
}

#resend{
    color: black;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    padding: 3px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.clicked{
    color: cyan;
    transition: background-color 1.5s ease-in;
}

#home{
    float: left;
    margin-left: 36px;
}







/* li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  } */







